$breakpoint-md : 1320px;
$breakpoint-lg : 1500px;



body.dashboard  {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 100vh;
}


aside {


  position: fixed;

  &.selectors {

    width: 0rem;

    background: #fff;
    border-right: 1px solid black;
    padding: 1rem;
    left: 0;
    //background: lightgrey;

    min-height: 100vh;

    ul.municipalities {
      display: none;

      > li {
        line-height: 1.75;

        &.active {
          font-weight: 700;
        }
      }
    }

    @media (min-width: $breakpoint-md) {
      width: calc(200px - 2rem);

      ul.municipalities {
        display: block;
      }
    }

  }

  &.info {

    padding: 1rem;
    overflow: hidden;
    background: #fff;
    display: none;


    @media (min-width: $breakpoint-md) {

      display: flex;
      flex-direction: row;

      width: calc(100vw - 2rem);
      border-top: 1px solid black;
      left: 0;
      bottom: 0;
      height: 200px;

    }


    @media (min-width: $breakpoint-lg ) {

      flex-direction: column;

      width: calc(300px - 2rem);
      border: none;
      border-left: 1px solid black;
      left: auto;
      right: 0;
      bottom: auto;
      height: calc(100vh - 2rem);
      //min-height: 100vh;
    }


    //background: black;
    //color: white;

    #img-graph-dashboard-map {


      margin-top: -200px;
      margin-left: -60px;
      margin-bottom: -80px;

      @media (min-width: $breakpoint-md) {

        width: 320px;
        margin-top: -60px;
        margin-left: 30px;
        margin-bottom: 0px;

        margin-right: 60px;
      }


      @media (min-width: $breakpoint-lg ) {

        width: auto;
        height: 600px;
        margin-top: -200px;
        margin-left: -60px;
        margin-bottom: -80px;
        margin-right: 0;

      }
    }

    h2 {
      font-family: 'Replica';
      font-size: 1.25rem;
      margin-bottom: 1.55rem;
      //color: white;
    }
  }
}


main#dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  flex: 1;
  padding: 2rem 2rem 2rem 8rem;
  margin: 0 0 0 2rem;

  @media (min-width: $breakpoint-md) {

    margin: 0 0px 0 200px;
  }


  @media (min-width: $breakpoint-lg ) {

    margin: 0 300px 0 200px;
  }
}

.img-graph-container {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.img-graph-container-3 {

  width: calc(25% - (4rem/3));
  height: 280px;
  margin-bottom: 4rem;
}

.img-graph-container-4 {

  width: calc(33% - (3rem/2));
  height: 30vw;

    > .legend {
      margin-bottom: 2rem;
    }
}


.img-graph-container-6 {
  width: calc(50% - 2rem/2);
  height: 30vw;


  //margin: 8rem 0rem 4rem 0rem;
}

.img-graph-container-9 {
  width: calc(75% - 3rem - 9rem);
  height: 22vw;
  padding: 0 5rem 0 0rem;
  margin: 8rem 0rem 4rem 0rem;
}

.img-graph-container-12 {
  width: calc(100% - 4rem);
  height: calc(22vw + 0rem);
  margin: 8rem 8rem 4rem 0rem;

  > .dashboard_link {
    margin-top: 2rem;
    margin-left: 8rem;
  }
}

.img-graph-container-short {
  padding: 2rem 0 4rem 0;
  height: 200px;

  svg {
    //margin-left: -40px;
  }

  .dashboard_link {
    margin-top: 3.5rem !important;
  }
}