$breakpoint-md : 1320px;
$breakpoint-lg : 1500px;

main {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

*[data-img-graph-preset='dashboard'] {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;

  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  padding: 2rem 2rem 2rem 2rem;
  width : calc(100vw - 4rem);
  overflow: hidden;

  @media (min-width: $breakpoint-lg ) {

    max-width : 1600px;
  }

  &.has_sidebar {

    @media (min-width: $breakpoint-sm) {
      margin: 0 0 0 2rem;
    }

    @media (min-width: $breakpoint-md) {
      padding: 2rem 2rem 2rem calc(2rem + 300px);
      margin: 0;
      width : calc(100vw - 4rem - 300px);
    }
  }
}


aside {

  position: absolute;

  &.selectors {

    width: 0rem;
    background: #fff;
    left: 0;
    min-height: 100vh;

    ul.municipalities {
      display: none;

      > li {
        line-height: 1.5;

        &.active {
          font-weight: 700;
        }
      }
    }

    @media (min-width: $breakpoint-sm) {
      padding: 1rem;
    }

    @media (min-width: $breakpoint-md) {
      width: calc(300px - 2rem);

      ul.municipalities {
        display: block;
      }
    }
  }
}

#img-graph-dashboard-map {

  @media (min-width: $breakpoint-md ) {

    width: 320px;
    height: 320px;
    margin-left: -60px;
  }
}

.img-graph-container {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  &:empty {
    display: none;
  }

}

.img-graph-container-3 {

  width : 100%;
  margin-bottom: 6rem;
  height: 280px;


  @media (min-width : $breakpoint-md) {
    width: calc(25% - (4rem / 3));
    height: 280px;
    margin-bottom: 4rem;

  }
}

.img-graph-container-4 {

  width : 100%;
  margin-bottom: 4rem;
  > svg {
    height: 60vw;
  }


  @media (min-width : $breakpoint-md) {

    width: calc(33% - (3rem/2));

    > svg {
      height: calc((100vw - 300px - 10rem) / 4);
    }

    > .legend {
      margin-bottom: 2rem;
    }
  }
}


.img-graph-container-6 {

  width: 100%;

  @media (min-width : $breakpoint-md) {

    width: calc(50% - 2rem/2);
  }
}

.img-graph-container-9 {
  width: calc(75% - 3rem - 9rem);
  height: 22vw;
  padding: 0 5rem 0 0rem;
  margin: 8rem 0rem 4rem 0rem;
}

.img-graph-container-12 {

  margin: 0rem auto 2rem auto;
  height: 120vh;

  @media (min-width : $breakpoint-md) {

    width: calc(100% - 4rem);
    height: 500px;
  }

  @media (min-width : $breakpoint-lg) {

    height: 600px;
  }

  > svg {
    margin-top: 2rem;

  }
}

.img-graph-container-trendline {

  height: calc(428px - 4rem);

}

.img-graph-container-vertical-padding {

  padding: 2rem 0 0rem 0;

  @media (min-width : $breakpoint-md) {
    padding: 2rem 0 2rem 0;
  }
}

.img-grap-container-medium {

  height: 380px;

  @media (min-width : $breakpoint-lg) {
    height: 440px;
  }
}

.img-grap-container-medium-high {

  height: 460px;

  @media (min-width : $breakpoint-lg) {
    height: 540px;
  }
}

.img-graph-container-map {

  height: calc(428px);
  overflow: hidden;
  position: relative;


  > section  {
    margin-top: -10%;
  }
}

#img-dashboard_popup {

  background: white;
  padding: 1.5rem;
  border: 1px solid black;
  display: none;
  position: fixed;

  top: 1.5rem;
  left: 1.5rem;
  width: calc(100vw - 6rem);
  height: calc(100vh - 6rem);


  a {
    color: black;
    text-decoration: none;
  }

  @media (min-width : $breakpoint-sm) {

    position: absolute;
    width: 400px;
    height: auto;
    max-width: 100%;
  }
}