.icon-img-arrow-right {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    width: 0.75em;
    margin-right: 0.5rem!important;
}