.small-label {

    font-size: .8rem;
  
  
    &.white {
  
      fill:  white;
  
    }
  }
  
  .bigger-label {
  
    font-size: .8rem;

    @media (min-width: $breakpoint-sm) {
      font-size: 1rem;
    }

    
  
  
    &.white {
  
      fill:  white;
  
    }
  }
  
  text {
  
    &.blue {
      fill: $blue;
    }
  }