select {

    line-height: 2.4rem;
    padding: 0 .25rem 0 .25rem;
    height: 2.4rem;
    border: 1px solid rgb(245,244,238);
    background-color: rgb(245,244,238);
    border-radius: 5px;
    font-family: 'Sora', sans-serif;
    font-size: .875rem;
    
    option {
        line-height: 2rem;
        padding: 0 1rem;
    }

    @media (min-width: $breakpoint-sm) {
        padding: 0 1.5rem 0 .75rem;
    }
}

.hidden-label {

    display: block;
    height: 0px;
    width: 0px;
    overflow: hidden;
}