ul.dashboard_nav, ul.dashboard_nav_mobile {

    li {

        padding: 0 0 0 0rem;
        width: 200px;
        margin-right: 2rem;

        a {
            display: block;
            position: relative;
            font-family: 'Sora', sans-serif;
            font-size: .875rem;
            line-height: 1.25rem;
            font-weight: normal;
            padding: .5rem;
            margin-right: 0rem;
            margin-bottom: .5rem;
            border: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            > span {
                display: flex;
                flex-direction: column;
                justify-content: center;

                > svg {

                    position: absolute;
                    top: 7px;
                    right: -.5rem;
                    width: 1.25rem;
                    height: 1.25rem;
                    transition-delay: .2s;
                    transition-duration: .2s;
                }
            }


            &.active {
                background: $moss-light;
                border-radius: 6px;
                color: black;
            }
        }

        &:hover > a {

            color: $moss;
        }
    }

   > li {

        &[aria-expanded="false"] {

            a > span > svg {

                transform: rotate(0deg);
                top: 10px;
            }
        }

        &[aria-expanded="true"] {

            a > span > svg {

                transform: rotate(180deg);
                top: 6px;
                
            }
        }

        > ul {

            margin-left: .75rem;
            padding-left: .75rem;
            border-left: 1px solid rgb(230, 230, 230);
            margin-bottom: .75rem;

            > li {
                padding: .125rem 0.75rem .125rem 0;
                pointer-events: auto;

                > ul {

                    margin-left: .75rem;
                    padding-left: .75rem;
                    border-left: 1px solid rgb(230, 230, 230);
                    margin-bottom: .75rem;

                    > li {
                        padding: .125rem 0.75rem .125rem 0;
                        pointer-events: auto;
                    }
                }

            }
        }
    }

}

ul.dashboard_nav {

    display: none;
    border-right: 1px solid #e5e7eb;

    @media (min-width: $breakpoint-sm) {
        display: flex;
    }
}

ul.dashboard_nav_mobile:not([hidden]) {

    display: flex;
    position: absolute;
    background: $website_green;
    z-index: 999;
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    padding: 4rem 2rem 2rem 2rem;
    flex-direction: column;
    left: 0;
    top: 0;

}

#mobile-menu-item-open, #mobile-menu-item-close {

    position: fixed;
    left: 0;
    bottom: .5rem;

    background-image: url('../public/img/hamburger.svg');
    background-size: 2.4rem; /* Ensure the icon scales correctly */
    background-repeat: no-repeat; /* Prevent the icon from repeating */
    background-position: center; /* Center the icon */
    background-color: $website_green;
    border: transparent;
    z-index: 999;
    width: 3.6rem;
    height: 3.6rem;
    padding: 4px;

    @media (min-width: $breakpoint-sm) {
        bottom: calc(50vh - 1.8rem);
    }


    span.text {
        position: absolute !important;
        height: 0;
        width: 0;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
    }

}

#mobile-menu-item-close {

    background-image: url('../public/img/close.svg');

}
