


.tab:focus-visible {
    background-color: royalblue;
    color: whitesmoke;
    outline: 0.2em solid transparent;
  }

.tabpanel:not(:target):not(.visible) {
    display: none;
  }


.tab_list ul {

    width: 100%;
    border-bottom: 1px solid rgb(230, 230, 230);
    display: flex;
    flex-direction: row;
   

    li {
        border: 1px solid rgb(230, 230, 230);
        border-bottom: none;

        &:has(a[aria-selected="true"]) {
            background: $lightBlue-light;
            color: $darkblue;
        }
    }

    a {
        display: inline-block;
        padding: .5rem 1rem;
        border-bottom: none;
    }   

    a[aria-selected="true"] {
        @include bold();
        color: $darkblue;
        // border-color: black;
    }

    a:focus {
        background: $moss;
        color: white;
    }
}

.tabpanel {

   
    scroll-margin-top: 12rem;
    // margin-top: -.5rem;

    @media (min-width: $breakpoint-bax) {
         padding: 1rem 0 0 0;
    }
  
}
