.filter-wrapper {    
    
    // height: 3rem;
    margin-bottom: 4rem;
}


.filter_list, .filter_list_group  {

    // margin-top: 1.5rem;
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
    width: 100%;

    @media (min-width: $breakpoint-lg) {
        margin-bottom: 3rem;
    }
 
    &:first-child {
        margin-top: .5rem; 
    }

    ul {
        display: flex;
        flex-direction: row;

        li.radio_button {

            height: 2.4rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1rem;
            background-color: #eee;
            border-radius: 5px;
            padding: 0 1.5rem;
            
            &:first-child {
                margin-left: 1rem;
            }
        }       
    }
}

.filter_list ul li select {
    background: white;
    border-color: 1px solid rgb(230, 230, 230);
}

.filter_list_group, .filter_list_group:first-child {

    position: relative;
    margin-top: 0rem;
    margin-bottom: 2rem;

    @media (min-width: $breakpoint-lg) {
        margin-bottom: 3rem;
    }

    ul li {
        margin-right: .75rem;
    }
}

.page_filter_list_group {

    margin-top: 1.5rem;
    width: calc(100% - 3rem);

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-top: 1px solid rgb(245, 244, 238);
        border-bottom: 1px solid rgb(245, 244, 238);
        padding: .75rem 0 ;
        width: 100%;


        li {
            
            display: flex;
            flex-direction: row;
            margin: .75rem 0;
            width: 100%;

            .hidden-label {
                height: auto;
                width: 160px;
                line-height: 1.33;
                margin-right: 1.5rem;
            }

            input[type="date"] {

                background: rgb(245, 244, 238);
                border: none;
                padding: .5rem .75rem;
            }
        }
    }

}


