.filter-wrapper {    
    
    height: 3rem;
    margin-bottom: 2rem;
}


.filter_list, .filter_list_group  {

    // margin-top: 1.5rem;
    position: absolute;
    z-index: 7;
    top: 0;
    left: 0;
    margin-bottom: 3rem;
    width: 100%;

    &:first-child {
        margin-top: .5rem; 
    }

    ul {
        display: flex;
        flex-direction: row;

        li.radio_button {

            height: 2.4rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 1rem;
            background-color: #eee;
            border-radius: 5px;
            padding: 0 1.5rem;
            
            &:first-child {
                margin-left: 1rem;
            }
        }       
    }
}

.filter_list_group, .filter_list_group:first-child {

    position: relative;
    margin-top: 0rem;
    margin-bottom: 3rem;

    ul li {
        margin-right: .75rem;
    }
}



