
aside.selectors {

    // display: none;
    // position: fixed;
    // overflow: auto;
    
    // left: 0;
    // width: 100vw;
    // height: calc(100% - 16.5rem);

    // &.is_open {
    //   display: block;
    //   z-index: 99;
    //   color: #fff;
    // }

    // padding: 6.5rem 1rem 6rem 1.5rem;
    // background: $lightBlue;
    margin: auto;
    font-family: 'RO Sans Regular', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    // margin-top: 1rem;

    @media (min-width: $breakpoint-bax) {
        // padding: 2rem 1rem 6rem 1rem;
        // margin: 1.25rem 0 0 0;
        // order: 1;
    }

    @media (min-width: $breakpoint-lg) {
        display: block;
        position: relative;
        min-height: 100vh;
        width: calc(300px - 0rem);
        overflow: visible;
        background: transparent;
        padding: 2rem 2rem 2rem 0rem;
        margin: 1.25rem 0 0 0;
    }

    a.skip {
      display: block;
      position: relative;
      width: 0;
      overflow: hidden;
      margin-left: 1rem;
      padding: .75rem 0;
      padding-left: .5rem;
      
      border: none;
      max-height: 0;

      &:focus {
          width: auto;
          padding: .75rem inherit;
          max-height: 5rem;
      }
    }
    
}

