.legend {

    @media (max-width: $breakpoint-bax) {
        margin-bottom: 4rem;
    }
    
    
    table {

        background: transparent;
        width: 100%;

        tr.no_border {

            border: none;

            td {
                vertical-align: middle;
                border: none;
                padding: 0rem 0.5rem;

                @media (min-width: $breakpoint-sm) {
                    padding: 0.125rem 0.5rem;
                }
            }
        }

        tr.top_border {

            border: none;
            border-top: 1px solid #000;
        

            td {
                margin-top: .5rem;
                padding-top: .5rem;
                border: none;
            }
        }
    }

}

.graph-container-6 {

    .legend {

        margin-top: 4rem
        
    }
}