.page_header {

    h2 {

        @media (max-width: $breakpoint-sm) {
            hyphens: auto;
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
    }

    .datum {
        font-style: italic;
        margin-bottom: .375rem;
    }

}