
main {

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

*[data-img-graph-preset='dashboard'] {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100vh;

  position: relative;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  padding: 2rem 1rem 2rem 1rem;
  width : 100%; // calc(100vw - 4rem);
  overflow: visible;

  &.has_sidebar {

    @media (min-width: $breakpoint-sm) {
      padding: 0rem 2rem 0rem 2rem;
      margin: 0;
    }

    @media (min-width: $breakpoint-md) {
      padding: 2rem 2rem 0 240px;
      margin: 0;
    }

    @media (min-width: $breakpoint-bax) {
      padding: 2rem 0rem 0rem 240px;
      margin: 0;
      width : calc(100% - 240px); //calc(100% - 4rem - 300px);
    }
  }
}


aside {

  &.selectors {

    position: relative;
    background: #fff;
    padding: 2rem 1rem 2rem 1rem;
    order: 1;
    width: calc(100% - 0rem);
    background: #64a7c6;
    margin: auto;

    h3 {

      @media (min-width: $breakpoint-md) {
        display: none;
      }
    }

    ul {

      > li {
        &.active {

          display: none;
          @media (min-width: $breakpoint-md) {
            display: inline-block;
            // font-weight: 700;
            border-bottom: 1px solid black;
          }
        }
      }
    }

    ul.municipalities {
      display: none;
    }

    @media (min-width: $breakpoint-sm) {
      width : auto;
      padding: 2rem;

    }

    @media (min-width: $breakpoint-md) {
      position: absolute;
      left: 0;
      min-height: 100vh;
      width: calc(240px - 2rem);
      overflow: visible;
      background: transparent;
      padding: 2rem 0rem 2rem 0rem;

      ul.municipalities {
        display: block;
      }
    }

    @media (min-width: $breakpoint-bax) {
      padding: 0;
    }
  }
}

#img-graph-dashboard-map {

  display: none;

  @media (min-width: $breakpoint-sm ) {

  }

  @media (min-width: $breakpoint-md ) {
    display: block;
    width: 300px;
    height: 300px;
    margin-left: -100px;
    margin-top: 40px;
  }

  @media (min-width: $breakpoint-bax ) {
    width: 320px;
    height: 320px;
    margin-left: -120px;
    margin-top: 30px;
  }
}

.img-graph-container {

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;


  &:empty {
    display: none;
  }

}

.img-graph-container-3 {

  width : 100%;
  margin-bottom: 6rem;
  height: 280px;

  @media (min-width : $breakpoint-sm) {
    width: calc(50% - (4rem / 3));
    height: 260px;
    margin-bottom: 8rem;
  }

  @media (min-width : $breakpoint-bax) {
    width: calc(25% - (3rem / 3));
    height: 280px;
    margin-bottom: 4rem;
  }
}

.img-graph-container-4 {

  width : 100%;
  margin-bottom: 4rem;


  @media (min-width : $breakpoint-md) {

    width: calc(33% - (3rem/2));

    > svg {
      height: auto;
    }
  }


  @media (min-width : $breakpoint-bax) {

    width: calc(33% - (3rem/2));

    > svg {
      height: calc((100vw - 300px - 10rem) / 4);
    }

    > .legend {
      margin-bottom: 2rem;
    }
  }
}

.img-graph-container-6 {
  width: 100%;

  @media (min-width : $breakpoint-bax) {
    width: calc(50% - 2rem/2);
  }
}

.img-graph-container-ipad-6 {

  width: 100%;

  @media (min-width : $breakpoint-md) {
    width: calc(50% - 2rem/2);
  }
}

.img-graph-container-8 {

  width : 100%;
  margin-bottom: 4rem;

  @media (min-width : $breakpoint-md) {

    width: calc(66% - (3rem/2));

    > svg {
      height: auto;
    }
  }

  @media (min-width : $breakpoint-bax) {
    > svg {
      height: calc((100vw - 300px - 10rem) / 4);
    }

    > .legend {
      margin-bottom: 2rem;
    }
  }
}

.img-graph-container-9 {
  width: calc(75% - 2rem);
  height: 22vw;
  // padding: 0 5rem 0 0;
  margin: 8rem 0 4rem 0;

  &.img-graph-top-align {
    margin: 0;
  }
}

.img-graph-container-12 {

  margin: 0 auto 2rem auto;
  height: 120vh;
  width: 100%;

  @media (min-width : $breakpoint-sm) {
    height: 460px;
  }

  @media (min-width : $breakpoint-bax) {
    height: 500px;
  }

  > svg {
    margin-top: 2rem;

  }
}

.img-graph-rating {

  .svg-wrapper {
    width: 100%;
    min-height: 480px;
  }
}

.img-graph-container-flow {

  height: 80vh;


  @media (min-width : $breakpoint-xsm) {
    height: 240vh
  }


  @media (min-width : $breakpoint-sm) {

    width: calc(100% - 4rem);
    height: 460px;
    margin-bottom: 8rem;
  }

  @media (min-width : $breakpoint-bax) {

    width: calc(100% - 4rem);
    height: 500px;

  }
}


.img-graph-container-trendline {

  height : 440px;

  @media (min-width : $breakpoint-sm) {
    height: calc(540px - 4rem);
  }

  @media (min-width : $breakpoint-md) {
    height: calc(540px - 4rem);
  }

  @media (min-width : $breakpoint-bax) {
    height: calc(468px - 4rem);
  }

}

.img-graph-container-shorttrend {

  height : 400px;

  @media (min-width : $breakpoint-sm) {
    height: calc(400px - 4rem);
  }

  @media (min-width : $breakpoint-md) {
    height: calc(400px - 4rem);
  }

  @media (min-width : $breakpoint-bax) {
    height: calc(406px - 4rem);
  }

}

.img-graph-container-vertical-padding {

  padding: 2rem 0 0 0;

  @media (min-width : $breakpoint-md) {

    padding: 0;
  }

  @media (min-width : $breakpoint-bax) {
    padding: 2rem 0 2rem 0;
  }
}

.img-graph-container-top-padding {

  padding: 2rem 0 0 0;

  //@media (min-width : $breakpoint-md) {
  //
  //  padding: 0;
  //}
  //
  //@media (min-width : $breakpoint-bax) {
  //  padding: 2rem 0 0rem 0;
  //}
}

.img-graph-container-bol {

  height: auto;

  > svg {
    height: auto;
  }

  @media (min-width : $breakpoint-md) {

    > svg {
      height: auto;
    }
  }

  @media (min-width : $breakpoint-bax) {

    // safari only

    height: auto;
    margin-bottom: 0;
    //
    //@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    //
    //}

    //> svg {
    //  height: calc((100vw - 300px - 10rem) / 4);
    //  @media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    //    height: 6rem;
    //  }
    //}
  }

  &.img-graph-container-4 {

    @media (min-width : $breakpoint-md) {

      > svg {
        height: 200px;
      }
    }
  }
}



.img-grap-container-medium-small {

  height: 380px;
  margin-bottom: 2rem;

  @media (min-width : $breakpoint-lg) {
    height: 380px;
  }
}

.img-grap-container-medium {

  height: 380px;

  @media (min-width : $breakpoint-lg) {
    height: 440px;
  }
}

.img-grap-container-medium-high {

  height: 460px;

  @media (min-width : $breakpoint-bax) {
    height: 540px;
  }
}

.img-graph-ballenbak {

  @media (min-width : $breakpoint-lg) {
    height: 600px;
  }
}

.img-graph-container-map {

  height: 450px;
  overflow: visible;
  position: relative;
  margin-bottom: -4rem;

  @media (min-width : $breakpoint-sm) {
    margin-bottom: 2rem;
  }

  > section  {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: -30%;
    //margin-right: 160px;
    margin-left: 0;
    margin-bottom: -30%;

    @media (min-width : $breakpoint-sm) {
      margin-top: -10%;
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 0;

    }

    > svg {

      margin-left: -40px;
      margin-bottom: -3.5rem;

      @media (min-width : $breakpoint-sm) {
        margin-bottom: -2.5rem;
        // margin-left: 0;
      }
    }
  }
}

#img-dashboard_popup {

  background: white;
  padding: 1.5rem 1.5rem 4.5rem 1.5rem;
  border: 1px solid black;
  display: none;
  position: fixed;

  top: 1.5rem;
  left: 1.5rem;
  width: calc(100vw - 4rem);
  height: calc(100vh - 6rem);

  line-height : 1.425;

  a {
    color: black;
    text-decoration: none;
  }

  .popup_description span {
    background: rgba(246,212,178,1);
    padding: 0 3px;
  }

  @media (min-width : $breakpoint-sm) {

    position: absolute;
    width: 400px;
    height: auto;
    max-width: 100%;
  }
}

.mobile_nav {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem auto;
}
