body#development {
  display: flex;
  flex-direction: column;
  align-items: center;

  // // main {

  // //   position: relative;
  // //   width: 100%;
  // //   display: flex;
  // //   flex-direction: row;

  // }


  //   > div {
  //     width: 100%;
  //     position: relative;

      *[data-img-graph-preset=dashboard].has_sidebar {
          width: calc(100% - 0px);

          @media (min-width: 1400px) {
            // *[data-img-graph-preset=dashboard].has_sidebar {
                padding: 0rem 0rem 0rem 240px;
                width: calc(100% - 240px - 0rem);
                margin: 0;
            // }
          }
      }

      
    // }


//  }

  .container {

    @media (min-width: 1088px) {
      max-width: 960px;
      width: 960px;
    }

    @media (min-width: 1322px) {
      max-width: 1194px;
      width: 1194px;
    }
  }

  .columns {

    display: flex;
    margin-left: -1rem;
    margin-right: -1rem;
  }

  section.columns {
    width: 100%;

  }

  .column {

    padding: 1rem;


    &.is-2 {

      flex: none;
      width: calc(16.66% - 1rem);
    }

    &.is-3 {

      flex: none;
      width: 25%;
    }

    &.is-6 {

      flex: none;
      width: 50%;
    }

    &.is-9 {

      flex: none;
      width: 75%;
    }
  }
}
